body{
    background-image: linear-gradient( to top, #e3e1e1,#e6e6e6,#161616 );
    background-attachment: fixed;   
 }
 h1{
     font-size: 2em;

 }
 p{
     font-size: large;
 }
#logo{
    width: 900px;
    height: 400px;
    align-items: center;
    padding-left: 300px;

}

.container1{
    width: 100%;        
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.container2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
 
 
